
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/ÖZKADER OTOMOTİV/scss/main.css" />
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header id="header__inner">
        <div class="container">
            <nav class="main-nav">
                <img src="~/ÖZKADER OTOMOTİV/img/logo.png" alt="" class="main-nav__logo" />
                <ul class="main-nav__items">
                    <li><a href="/Default/Anamenu">Ana Sayfa</a></li>
                    <li><a href="/Default/Hakkımızda">Kurumsal</a></li>
                    <li><a href="~/ÖZKADER OTOMOTİV/projects.html">Katalog</a></li>
                    <li><a href="/Default/Iletisim_form" class="active">İletişim</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- section a -->
    <section id="about-a" class="py-2">
        <div class="container about-ayar">
            <div>
                <div class="kategori-list">
                    <p style="color: brown; font-size: 22px; border-bottom: 2px solid #EF3C6D; line-height: 57px; padding: 0 15px;">İLETİŞİM</p>
                    <ul>
                        <li>
                            <a href="/Default/Iletisim_bilgi">İletişim Bilgileri</a>
                        </li>
                        <li>
                            <a href="/Default/Iletisim_form">İletişim Formu</a>
                        </li>
                        <li>
                            <a href="/Default/Google_map">Google Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sagicerik">
                <div id="hakkimizda">
                    <p>GOOGLE MAP</p>
                </div>
                <div>
                    <div class="container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12586.19913509828!2d32.522702!3d37.940947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08e3a64604945%3A0xb7d1d7155d948a!2s%C3%96ZKADER%20OTOMOT%C4%B0V%20aksesuar%20ve%20yedek%20par%C3%A7a!5e0!3m2!1str!2str!4v1685966473854!5m2!1str!2str" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("Footer", "Footer")

    <script src="~/ÖZKADER OTOMOTİV/js/jquery.min.js"></script>
</body>
</html>

