
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/ÖZKADER OTOMOTİV/scss/main.css" />
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header id="header__inner">
        <div class="container">
            <nav class="main-nav">
                <img src="~/ÖZKADER OTOMOTİV/img/logo.png" alt="" class="main-nav__logo" />
                <ul class="main-nav__items">
                    <li><a href="/Default/Anamenu" >Ana Sayfa</a></li>
                    <li><a href="/Default/Hakkımızda">Kurumsal</a></li>
                    <li><a href="/Default/Katalog">Katalog</a></li>
                    <li><a href="/Default/Iletisim_form" class="active">İletişim</a></li>
                    <button class="navbar-toggler" style="display: none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa-sharp fa-solid fa-bars"></i></span>
                    </button>
                </ul>
                @*toogle*@
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Anamenu">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Default/Hakkımızda">Kurumsal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Default/Katalog">Katalog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Iletisim_form">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*toogle end*@
            </nav>
        </div>
    </header>

    <!-- section a -->
    <section id="about-a" class="py-2">
        <div class="container about-ayar">
            <div>
                <div class="kategori-list">
                    <p style="color: brown; font-size: 22px; border-bottom: 2px solid #EF3C6D; line-height: 57px; padding: 0 15px;">İLETİŞİM</p>
                    <ul>
                        <li>
                            <a href="/Default/Iletisim_bilgi">İletişim Bilgileri</a>
                        </li>
                        <li>
                            <a href="/Default/Iletisim_form">İletişim Formu</a>
                        </li>
                        <li class="kaybolma">
                            <a href="/Default/Google_map">Google Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sagicerik">
                <div id="hakkimizda">
                    <p>İLETİŞİM FORMU</p>
                </div>
                <div>
                    <div class="container">
                        <form id="iletisim" method="post">
                            <input name="lang" type="hidden" value="tr">
                            <input name="IletisimAd" placeholder="Adınız" type="text">
                            <br>
                            <input name="IletisimTelefon" placeholder="Telefon" type="text">
                            <br>
                            <input name="IletisimFirma" placeholder="Firma" type="text">
                            <br>
                            <input name="IletisimEposta" placeholder="Email" type="text">
                            <br>
                            <input name="IletisimAdres" placeholder="Adres" type="text">
                            <br>
                            <textarea cols="20" name="IletisimMesaj" placeholder="Mesajınız" rows="2"></textarea>
                            <br>
                            <input type="submit" class="forms_ok">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("Footer", "Footer")

    <script src="~/ÖZKADER OTOMOTİV/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

