
@{
    ViewBag.Title = "kvkbilgilendirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section a -->
<section id="about-a" class="py-2">
    <div class="container about-ayar">
        <div>
            <div class="kategori-list">
                <p style="color: brown; font-size: 22px; border-bottom: 2px solid #EF3C6D; line-height: 57px; padding: 0 15px;">KURUMSAL</p>
                <ul>
                    <li>
                        <a href="/Default/Hakkımızda">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="/Default/kvkaydınlatma">KVK Aydınlatma Metni</a>
                    </li>
                    <li>
                        <a href="/Default/kvkbilgilendirme">KVK Bilgilendirme Metni</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <div id="hakkimizda">
                <p>KVK BİLGİLENDİRME METNİ</p>
            </div>
            <div>
                <p>
                    BAŞVURU FORMU BİLGİLENDİRME METNİ
                    <br>
                <p>GENEL AÇIKLAMALAR</p>
                <p>6698 Sayılı Kişisel Verilerin Korunması Kanunu’nda (“KVK Kanunu”) ilgili kişi olarak tanımlanan kişisel veri sahiplerine (“Bundan sonra “Başvuru Sahibi” olarak anılacaktır), KVK Kanunu’un 11’inci maddesinde kişisel verilerinin işlenmesine ilişkin birtakım taleplerde bulunma hakkı tanınmıştır.</p>

                <p>KVK Kanunu’nun 13’üncü maddesinin birinci fıkrası uyarınca; veri sorumlusu olan Şirketimize bu haklara ilişkin olarak yapılacak başvuruların yazılı olarak veya Kişisel Verilerin Korunması Kurulu (“Kurul”) tarafından belirlenen diğer yöntemlerle tarafımıza iletilmesi gerekmektedir.</p>

                <p>Bu çerçevede “yazılı” olarak Şirketimize yapılacak başvurular, işbu formun çıktısı alınarak;</p>

                <p>Başvuru Sahibinin şahsen başvurusu ile,</p>

                <p>Noter vasıtasıyla,</p>

                <p>Başvuru Sahibince 5070 Sayılı Elektronik İmza Kanunu’nda tanımlı olan “güvenli elektronik imza” ile imzalanarak Şirket kayıtlı elektronik posta adresine gönderilmek suretiyle,</p>

                <p>Başvuru formu doldurulup mobil imza ya da ilgili kişi tarafından veri sorumlusuna daha önce bildirilen ve veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanarak bilgi@firatotomotiv.com e-mail adresine elektronik posta ile gönderilmesi suretiyle, tarafımıza iletilebilecektir.</p>

                <p>Aşağıda, yazılı başvuruların ne şekilde tarafımıza ulaştırılacağına ilişkin yazılı başvuru kanalları özelinde bilgiler verilmektedir.</p>

                <p>Ayrıca, Kurul’un belirleyeceği diğer yöntemler duyurulduktan sonra bu yöntemler üzerinden de başvuruların ne şekilde alınacağı Şirketimizce duyurulacaktır.</p>

                <p>Tarafımıza iletilmiş olan başvurularınız KVK Kanunu’nun 13’üncü maddesinin 2’inci fıkrası gereğince, talebin niteliğine göre talebinizin bizlere ulaştığı tarihten itibaren otuz gün içinde yanıtlandırılacaktır. Yanıtlarımız ilgili KVK Kanunu’nun 13’üncü maddesi hükmü gereğince yazılı veya elektronik ortamdan tarafınıza ulaştırılacaktır.</p>
            </div>
        </div>
</section>

@Html.Action("Footer", "Footer")

