<footer id="main-footer">
    <div class="container footer-grid">
        <div class="footer-dıs1">
            <img src="~/ÖZKADER OTOMOTİV/img/logo.png" alt="">
            <div class="social">
                <a href="https://www.instagram.com/atombtw/" style="color: #fff;"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/atombtw/" style="color: #fff;"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <p>Bu sitenin içeriğinin kopyalanması ve yeniden dağıtılması açık olarak yasaktır.</p>
                <a href="/Default/kvkaydınlatma">KVKK AYDINLATMA METNİ |</a><a href="/Default/kvkbilgilendirme"> KVK BİLGİLENDİRME METNİ</a>
                <p>2023 © Copyright Özkader Otomativ Tüm Hakları Saklıdır.</p>
            </div>
        </div>
        <div class="footer-dıs2">
            <div>
                <iframe class="harita" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.54978377457!2d32.522701999999995!3d37.940947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08e3a64604945%3A0xb7d1d7155d948a!2s%C3%96ZKADER%20OTOMOT%C4%B0V%20aksesuar%20ve%20yedek%20par%C3%A7a!5e0!3m2!1str!2str!4v1685603945950!5m2!1str!2str" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div style="padding-right: 22px;">
                <h4 style="color: brown; padding-top: 7px;">Merkez</h4>
                <p>ÖZKADER OTOMOTİV aksesuar ve yedek parça · Horozluhan, Selçuklu Cd. No:147, 42110 Selçuklu/Konya</p>
            </div>
        </div>
    </div>
</footer>
